@page "/customers/"
@attribute [Authorize]

<PageTitle>Manage Customers</PageTitle>

<MudText Typo="Typo.h4">Manage your Customers</MudText>
<MudSpacer />

<MudTable Items="_customers" Loading="_loading">
    <ToolBarContent>
        <MudIconButton Class="me-1" Link="/customers/add?returnUrl=/customers/" Icon="@Icons.Filled.Add" Variant="Variant.Filled" Color="Color.Primary"></MudIconButton>
        <MudIconButton OnClick="LoadData" Icon="@Icons.Filled.Refresh" Variant="Variant.Filled" Color="Color.Primary"></MudIconButton>
        <MudSpacer />
        <MudTextField @bind-Value="SearchText" Immediate="true" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
        <MudSwitch @bind-Checked="_searchByNumber" Color="Color.Secondary">
            @if (_searchByNumber)
            {
                <span>Search Numbers</span>
            }
            else
            {
                <span>Search Names</span>
            }
        </MudSwitch>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Phone Number</MudTh>
        <AuthorizeView Roles="@UserRoles.Admin" Context="hide">
            <Authorized>
                <MudTh></MudTh>
            </Authorized>
        </AuthorizeView>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Phone Number">@context.PhoneNumber</MudTd>
        <AuthorizeView Roles="@UserRoles.Admin" Context="hide">
            <Authorized>
                <MudTd>
                    <MudButton @onclick="() => ShowDeletePromt(context)" Variant="Variant.Filled" Color="Color.Error">
                        Delete
                    </MudButton>
                </MudTd>
            </Authorized>
        </AuthorizeView>
    </RowTemplate>
    
    <LoadingContent>
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true"/>
    </LoadingContent>

    <NoRecordsContent>
        <MudText Typo="Typo.h6">No Customer to show</MudText>
    </NoRecordsContent>
</MudTable>
